<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="NoticeMapper">
  <sql id="search">
  	<trim prefix="where" prefixOverrides="and || or">
		 <if test="search=='title'">
			title like '%' || #{find} || '%'
		</if>
		<if test="search=='writer'">
			writer like '%' || #{find} || '%'
		</if>
		<if test="search=='contents'">
			contents like '%' || #{find} || '%'
		</if> 
		</trim>
  </sql>
  	
  	<select id="count" resultType="int" parameterType="com.choa.util.ListInfo">
  		select count(nvl(num, 0)) from notice
  		<include refid="search"></include>
  	</select>
  	
  	
  	<!-- select * from 
		(select rownum R, N.* from
		(select * from notice order by num desc) N)
		where R between #{startRow} and #{lastRow} -->
		
  	<select id="list" resultType="com.choa.notice.NoticeDTO" parameterType="com.choa.util.ListInfo">
		select * from 
		(select rownum R, N.* from
		(select * from notice 
		
		<include refid="search"></include>
		
		 order by num desc) N)
		where R between #{startRow} and #{lastRow}
  	</select>
  <!-- '%' || #{find} || '%' 이게 싫으면 넘어올때 앞뒤로%를 붙여서 넘겨준다 -->
  <!-- where가 들어가는 상황이면 where가 추가되고, and가 나올상황이면 알아서 지워주는 where태그  -->
  <!-- 불필요한 ,(콤마)를 삭제해주는 <set>태그  -->
  
  	<!-- NoticeView -->
  	<select id="view" resultType="com.choa.notice.NoticeDTO" parameterType="java.lang.Integer">
  		select * from notice where num=#{num}
  	</select>
  	
  	<!-- NoticeInsert -->
  	<insert id="write" parameterType="com.choa.notice.NoticeDTO">
  		insert into notice (num, writer, title, contents, reg_date, hit) 
  		values (notice_seq.nextval, #{writer}, #{title}, #{contents}, sysdate, 0)
  	</insert>
  	
  	<update id="update" parameterType="com.choa.notice.NoticeDTO">
  		update notice set title=#{title}, contents=#{contents} where num=#{num}
  	</update>
  	
  	<delete id="delete" parameterType="com.choa.notice.NoticeDTO" >
  		delete from notice where num=#{num}
  	</delete>
  
  </mapper>